.DS_Store
/accommodation-admin/node_modules
/accommodation-serve-node/node_modules
/accommodation-stu/node_modules

/dist


# local env files
.env.local
.env.*.local

# Log files
/accommodation-admin/npm-debug.log*
/accommodation-serve-node/npm-debug.log*
/accommodation-stu/npm-debug.log*

/accommodation-admin/yarn-debug.log*
/accommodation-serve-node/yarn-debug.log*
/accommodation-stu/yarn-debug.log*

/accommodation-admin/yarn-error.log*
/accommodation-serve-node/yarn-error.log*
/accommodation-stu/yarn-error.log*

/accommodation-admin/pnpm-debug.log*
/accommodation-serve-node/pnpm-debug.log*
/accommodation-stu/pnpm-debug.log*


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
